.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%; // duong gach ngang header an 100%
    height: var(--default-layout-header-height, 60px); // neu ko thay bao bien thi mac dinh 60px
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    display: flex;
    border: 1.5px solid transparent; // cho boder ban đầu để khi click vào không bị co lại

    input {
        flex: 1;
        height: 100%; //bấm vào viền nó cũng focus - input to ra
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent; // trong suốt
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(
            var(--search-height) - var(--search-top-spacer) * 2
        ); // tăng search-height lên thi đường gạch vẫn canh giữa
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2); //click vao thẻ search thì có viền
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px); // sua đường gạch lai nhưng no sẽ vẫn ỡ giữa
    top: 50%;
    transform: translateY(-50%); //chiều cao
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06); //luc click vao nut
    }
}
